<!-- Meal Kit -->
    <div class="image-container">
        <img src="<%= meal.imageUrl %>" alt="Meal: <%= meal.title %>">
    </div>
    <h3><%= meal.title %></h3>
    <p><%= meal.description %></p>
    <button class="button-62" role="button">
        <p>$<%= meal.price %></p>
    </button>

